:root {
  --hero-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --background-color: #ffffff;
  --links-color: #2196f3;
  --logo-color: #000000;
  --buttonactiv-bgcolor: #188ce8;
  --icon-color: #afb1b8;
  --header-borded-color: #ececec;
}

body {
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

.hidden {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  /* visibility: hidden;
  font-size: 0; */
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header */

header {
  border-bottom: 1px solid var(--header-borded-color);
}

header > .conteiner {
  padding-top: 0;
  padding-bottom: 0;
}

.nav.list .item:not(:last-child) {
  margin-right: 50px;
}

.nav.list {
  margin-left: 93px;
}

.nav.list,
.adress.list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo.link,
.logo,
.footer-logo {
  color: var(--logo-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo.link:hover,
.logo.link:focus {
  color: var(--links-color);
}

.logo {
  color: var(--links-color);
}

.nav.list .nav.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav.link {
  color: var(--primary-text-color);
}

.nav .nav.link.curent,
.nav .nav.link:hover,
.nav .nav.link:focus {
  color: var(--links-color);
}

.adress.link {
    display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}

.adress.list .item + .item {
  margin-left: 30px;
}

.adress-svg {
  margin-right: 10px;
  color: currentColor;
}

.main-nav,
.nav {
  display: flex;
  align-items: center;
}

.adress.list {
  margin-left: auto;
}

.adress.link:hover,
.adress.link:focus {
  color: var(--links-color);
  fill: var(--links-color);
}

/* Hero */

.hero {
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-size: 1600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero.title {
  background-image: none;
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.button {
  background-color: var(--links-color);
  color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button:hover,
.button:active {
  background-color: var(--buttonactiv-bgcolor);
}

.features.list {
  display: flex;
}

.features.list .item {
  width: 270px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--section-bg-color);
  border-radius: 4px;
}

.features.list .item + .item {
  margin-left: 30px;
}

.features.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}

.features.text {
  margin-top: 0;
  margin-bottom: 0;
}

.job.title,
.features.text {
  color: var(--secondary-text-color);
}

/* Чим займаємось */

.section.work {
  padding-top: 0;
}

.work.list {
  display: flex;
  justify-content: space-between;
}

.work.title,
.team.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* Наша команда */

.team {
  background-color: var(--section-bg-color);
}

.team.list {
  display: flex;
  justify-content: space-between;
}

.team.list .item {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.sign {
  padding-top: 30px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.job.title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  margin-top: 16px;
  margin-left: 32px;
  margin-bottom: 30px;
  margin-right: 32px;
}

.social.list {
  margin: 0;
  padding: 0;
  display: flex;
}

.social.list .item {
  width: 44px;
  height: 44px;
  box-shadow: none;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social.list .item + .item {
  margin-left: 10px;
}

.social.link {
  margin: 0;
  padding: 0;
  width: 44px;
  border-radius: 50%;
  color: var(--icon-color);
}

.social.link:hover,
.social.link:focus {
  color: var(--background-color);
  background-color: var(--links-color);
}

.social.svg {
  height: 20px;
  margin: 0;
  padding: 0;
  fill: currentColor;
}

.social.svg:hover {
  fill: currentColor;
}

/* clients */

.clients.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.clients.list {
  display: flex;
}

.client.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
}

.client.link:hover,
.client.link:focus {
  color: var(--links-color);
  border-color: var(--links-color);
}

.client.item + .item {
  margin-left: 30px;
}

.client {
  fill: currentColor;
}

/* portfolio */

.filter.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.filter.list .item + .item {
  margin-left: 8px;
}

.nav-button {
  font-family: 'Roboto', sans-serif;
  background-color: var(--section-bg-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}

.nav-button:hover,
.nav-button:focus {
  background-color: var(--links-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio.list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio.list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.portfolio.list .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio.list .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio.list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.title.project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

.job-name {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /* border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee; */
}

/* footer */

.footer {
  display: flex;
  background-color: var(--hero-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer > .conteiner {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
}

.footer,
.text.features,
.footer-adress {
  font-size: 14px;
  line-height: 1.71;
}

.address.list {
  font-style: normal;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-adress,
.footer-logo {
  color: var(--background-color);
  text-decoration: none;
}

.address.list > .item {
  margin-top: 9px;
}

.footer.link {
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  color: rgba(255, 255, 255, 0.6);
}

.footer.link:hover,
.footer.link:focus,
.footer-adress:hover,
.footer-adress:focus,
.footer-logo:hover,
.footer-logo:focus {
  color: var(--links-color);
}

.footer-social {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  margin-left: 70px;
}

.social-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
}

.link.f-s {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--background-color);
}
