.clients {
  @extend %--section;
}

.conteiner {
  @extend %--conteiner;
}

.clients__title {
  @extend %--title;
  font-weight: 700;
  font-size: 28px;  
  // font-size: 36px;
  line-height: 1.18;
  // line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  margin-bottom: 30px;
  // margin-bottom: 50px;
}

.clients__list {
  @extend %--list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.client__link {
  @extend %--link;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid $icon-color;
  border-radius: 4px;
  color: $icon-color;
  transition: $transition-color, $border-transition-color;
  &:hover,
  &:focus {
    color: $links-color;
    border-color: $links-color;
  }
}

// .client__item:not(:last-child) {
//   margin-right: 30px;
// }

.client__icon {
  fill: currentColor;
}
