.social {
  &--end {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 12px;
margin: 0;
margin-left: 70px;
  }
}

.social__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $background-color;
  & {@extend %--title;}
}

.social__link {
  & {@extend %--link}
  &--color {background-color: rgba(255, 255, 255, 0.1);
  color: $background-color;
}
}
