.footer {
  display: flex;
  justify-content: center;
  background-color: $hero-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 14px;
  line-height: 1.71;
}

.conteiner {
  @extend %--conteiner;
}

.conteiner--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__part--wite {
  color: $background-color;
}

.address {
  margin-top: 20px;
}

.address__item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $background-color;
  &:not(:last-child) {
  margin-bottom: 8px;
}
}

.address__list {
  @extend %--list;
  font-style: normal;
  text-align: center;
}

.address__link {
  @extend %--link;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $address-color;
  transition: $transition-color;
  &:hover,
  &:focus {
    color: $links-color;
  }
}

.address__link--wite {
  color: $background-color;
}