.menu-batton {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon-close_menu {
  display: none;
}

.menu-batton.is-open .icon-close_menu {
  display: block;
}

.menu-batton.is-open .logo {
  display: none;
}

.menu-batton.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 48px;
  padding-left: 40px;
  width: 100%;

  background-color: #ffffff;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  z-index: 1;

  color: #212121;
  &.is-open {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 87px;
      padding-top: 0px;
  padding-left: 0px;
  }
    @media screen and (min-width: 768px) {
    margin-left: 93px;
  }
}
