.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;

  background: $background-color;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    .backdrop--is-hidden & {
transform: translate(-50%, -50%) scale(1.1);
    }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: $background-color;
  color: $logo-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
  color: $links-color;
}
}

.button__icon {
fill: currentColor;
}

.form {
padding: 40px;
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: $primary-text-color;
&{@extend %--title};
}

.form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
    font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: $secondary-text-color;
}

.form__input {
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 100%;
.form__label:focus-within & {
  outline: none;
        border-color: $links-color;}
        &--field {
  height: 120px;
    resize: none;  
    margin-top: 4px;
    padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 100%;
}   
}

.form__label:focus-within> .form__icon {
  fill: $links-color;
}

.form__input--field {
    height: 120px;
    resize: none;  
    margin-top: 4px;
    padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 100%;
  margin-bottom: 20px;
  .form__label--comment:focus-within & {
  outline: none;
  border-color: $links-color;
}
&::placeholder {
  font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}
}

  .checkbox__input {
appearance: none;
  }

.checkbox__icon {
  width: 16px;
  height: 15px;
margin-right: 7px;
  border: 2px solid $primary-text-color;
}

.checkbox {
  display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;
font-size: 14px;    
    line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  }

.checkbox__input:checked ~ .checkbox__icon {
  background-image: url(../images/check.svg);
  background-color: $links-color;
  background-size: contain;
  background-repeat: no-repeat; 
  border: 2px solid $links-color;
}


.checkbox__contract {
  color: $links-color;
margin-left: 5px;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY calc(-50% + 18px);
  fill: $primary-text-color;
}

.button { 
  &--form {
  display: block;
  width: 200px;
  padding: 10px 52px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  border: none;}
  }