.subscription {
  // margin-left: 93px;
  text-align: center;
}

.subscription__field {
  // margin-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $background-color;
}

.subscription__label {
  display: block;
}

.subscription__input {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  &::placeholder {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.button__submit {
  position: relative;
  width: 200px;
  // margin-left: 12px;
  padding-left: 0;
  padding-right: 34px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $background-color;
  &::before {
    position: absolute;
    top: 50%;
    left: 148px;
    transform: translateY(-50%);
    margin-bottom: 50%;
    width: 24px;
    height: 24px;
    content: '';
    background-image: url(../images/send.svg);
  }
}
